<!DOCTYPE html>
<html>
<head>
    <title>Detective Mystery RPG</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet">
</head>

<body>

<div class="menu-container">

    <h1>🕵 DETECTIVE MYSTERY</h1>

    <p>
        Multiplayer Investigation RPG
    </p>

    <br>

    <a href="/game" class="start-btn">
        START GAME
    </a>

</div>

</body>
</html>